.contentPage {
  font-family: "Poppins", sans-serif;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  color: #002347;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 80px 0 30px 0;
}

.content .the-full-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content .sentences {
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  max-width: 1050px;
}

.content .sentences span {
  background: -webkit-linear-gradient(45deg, black, #002d5c, #f06a23, #f06a23);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p {
  display: flex;
  justify-content: center;
}

.buttons {
  display: flex;
  justify-content: space-around;
  margin: 30px 0 10px 0;
}

button {
  font-weight: 600;
  padding: 10px 30px 10px 30px;
  border: none;
  border-radius: 8px;
  filter: drop-shadow(0px 5px 20px rgba(0, 35, 71, 0.1));
  background-color: white;
  display: flex;
  align-items: center;
}

.button1,
.button4 {
  color: #f06a23;
}
.button2 {
  color: #3c94ef;
}
.button3 {
  color: #003c7a;
}

.arrow {
  display: flex;
}

.arrowImg {
  display: flex;
  margin-top: 30px;
  margin-bottom: -40px;
  margin-left: 50px;
  height: 34px;
}

.buttons img {
  margin-right: 20px;
}

.background {
  background-color: #f16b2332;
  border-radius: 50%;
  filter: blur(40px);
  position: absolute;
  width: 450px;
  height: 450px;
  bottom: 80%;
  left: -15%;
  z-index: -1;
}

.background1 {
  background-color: #00234732;
  border-radius: 50%;
  filter: blur(40px);
  position: absolute;
  width: 450px;
  height: 450px;
  bottom: 75%;
  right: -15%;
  z-index: -1;
}

.row {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
  margin-bottom: 10%;
}

.custom-row {
  display: flex;
  margin: 0 10%;
  padding: 20px;
  border-radius: 10px;
  text-align: justify;
  align-items: center;
}

.custom-col {
  padding: 10px;
  flex: 1;
}

.custom-col img {
  max-width: 100%;
  border-radius: 10px;
}

.custom-col h2 {
  font-size: 40px;
  color: #f16a23;
  margin-bottom: 10px;
}

.custom-col ul {
  list-style: inside;
  display: flex;
  flex-direction: column;
  padding: 0;
  max-width: 70%;
}

.custom-col p {
  font-size: 16px;
  color: #002347;
  line-height: 1.5;
  max-width: 400px;
}

.container {
  background-color: #d9e4ef7e;
  padding: 50px 0 50px 0;
}

.container h1 {
  color: #002347;
  font-size: 40px;
  display: flex;
  justify-content: center;
}

.cards-container {
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.cards-container h1 {
  color: #002347;
  font-size: 40px;
  display: flex;
  justify-content: center;
}

.cards-container ul {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.cards-container li {
  display: flex;
  align-items: center;
  margin: 10px 0;
  font-weight: 600;
}

.underlined {
  text-decoration: underline #f16a23 2px;
  text-underline-offset: 6px;
  color: #002347;
  font-weight: 600;
}

.active {
  fill: #002347;
}

.cards-container li img {
  margin-right: 10px;
}

.section-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.section-card button,
#modalButton {
  padding: 15px;
  background: linear-gradient(180deg, #f06b23bb, #f06a23);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

#modalTitle {
  color: #f06a23;
}

#modalButton {
  width: 100%;
  justify-content: center;
  outline: none;
}

.form {
  display: flex;
  flex-direction: column;
}

.companies {
  margin: 50px 0 10px 0;
}

.end-content {
  background: linear-gradient(90deg, #002347, #537895be);
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  margin-bottom: 70px;
  width: 70%;
  height: 250px;
  align-self: center;
  position: relative;
  overflow: hidden;
  gap: 20px;
}

.end-content h2 {
  z-index: 1;
}

.end-content .background2 {
  background: linear-gradient(60deg, #00234732, #53789515, #537895);
  border-radius: 50%;
  position: absolute;
  width: 400px;
  height: 400px;
  left: 5%;
  z-index: 0;
}

.end-content button {
  color: #f16a23;
  z-index: 1;
}

.footer {
  font-family: "Poppins", sans-serif;
  background-color: #002347;
  color: white;
  padding: 50px;
}

.top-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 400px;
}

.top-footer ul {
  display: flex;
  flex-direction: column;
}

.top-footer ul {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  display: flex;
  flex-direction: column;
}

.bottom-footer {
  text-align: center;
}
