@media screen and (max-width: 768px) {
  .card {
    box-shadow: 0 20px 0px #d9d9d9;
    height: auto;
    width: auto;
  }
  .card .arrow {
    flex-direction: column;
  }
}

@media (min-width: 769px) {
  .card {
    box-shadow: 20px 20px 0px #d9d9d9;
    height: 450px;
    width: 750px;
  }
  .card .arrow {
    flex-direction: row;
  }
}

.card {
  font-family: "Poppins", sans-serif;
  background-color: white;
  border: none;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.card .title {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
}
.card .description img {
  margin-right: 10px;
}

.card .title h3 {
  color: #f16a23;
}

.card .icon {
  fill: #23f1b7;
}

.card p {
  font-size: 16px;
  font-weight: 600;
  display: flex;
  justify-content: flex-start;
}

.card .arrow {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
